extends layout


block content

  .row
      .media.col-sm-8
        .media-left
          img.media-object(src="/images/logo.png", style="width:200px")
        .media-body
          h4(style="font-size: 2em; color: #ebaa46") Hi, we are ugly foods
          h5(style="font-size: 3em") Saving the world, one carrot at a time.
          button.btn.btn-primary(type="button" style="border-radius: 5px; font-size: 1.5em; padding: 10px") Get your free delivery

  .panel-group#accordion
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle="collapse" data-parent="#accordion" href="#collapse1") Why would I buy ugly foods?
      .panel-collapse.collapse#collapse1
        .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle="collapse" data-parent="#accordion" href="#collapse2") Do they taste different?
      .panel-collapse.collapse#collapse2
        .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle="collapse" data-parent="#accordion" href="#collapse3") How does it work?
      .panel-collapse.collapse#collapse3
        .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle="collapse" data-parent="#accordion" href="#collapse4") What fruits and vegetables can I get?
      .panel-collapse.collapse#collapse4
        .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle="collapse" data-parent="#accordion" href="#collapse5") When will ugly foods come to my city?
      .panel-collapse.collapse#collapse5
        .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit
