extends layout

mixin listerate(textArray)
  - let x = 0
  for text in textArray
    .col-sm-12
      h2
        //button(data-toggle="collapse" data-target="#collapse#{x}") #{text}
      //p(id="collapse#{x}") lorem ipsum blah blah blah
    - x++

block content
  - let questions = ["Why would I buy ugly foods?", "Do they taste different?", "How does it work?", "What fruits and vegetables can I get?","When will ugly foods come to my city?"];
  .row
    .col-sm-12
      .media
        .media-left
          img.media-object(src="/images/logo.png", style="width:200px")
        .media-body
          h4 Hi, we are Ugly Foods
          h5 Saving the world, one carrot at a time
          button.btn.btn-primary(type="button") Get your free delivery

  h1 Ugly Foods
  p.lead#motto Saving the world, one carrot at a time.
  hr
  .row
    .col-sm-12
  .panel-group#accordion
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle="collapse" data-parent="#accordion" href="#collapse1") Collapsible Group 1
      .panel-collapse.collapse#collapse1
        .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(data-toggle="collapse" data-parent="#accordion" href="#collapse2") Collapsible Group 2
      .panel-collapse.collapse#collapse2
        .panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit

